{#
/**
 * @file mega_menu.html.twig
 * Default theme implementation to present Mega Menu Content data.
 *
 * This template is used when viewing Mega Menu Content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mega_menu()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mega_menu') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
